[Desktop Entry]
Type=Application
Name=Mertensia Accounts
Comment=Create encrypted user accounts
Exec=/usr/bin/mertensia-firstboot --add-user
Icon=system-users
Categories=Settings;System;
