polkit.addRule(function(action, subject) {
    if (action.id == "org.mertensia.installer.run" &&
        subject.user == "mertensia-installer" && subject.active && subject.local) {
        return polkit.Result.YES;
    }
});
